@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&family=Big+Shoulders+Display:wght@100..900&family=Bungee+Spice&family=Coda:wght@400;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&family=Big+Shoulders+Display:wght@100..900&family=Bungee+Spice&family=Coda:wght@400;800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* font-family: "Manrope", sans-serif; */
/* font-family: "Rowdies", sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  transition: 1s linear;
  overflow-x: hidden;
  background-color: #f3f2e7;
}
main {
  width: 100%;
  padding: 0 0 16px 0;
  display: flex;
  flex-direction: column;
}

.intro-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 26px;
}

/* ------------------------------------------------ NAV -------------------------------------------------------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 68px;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: remove linear 0.5s;
}
.hamburger-menu {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #7e8ab8;
  position: relative;
  cursor: pointer;
  transition: 1s linear;
}
.line-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.line {
  width: 70%;
  height: 2px;
  background: #7e8ab8;
  transition: 0.5s linear;
}
.rotate1 {
  transform: rotate(45deg);
  width: 60%;
  margin-top: 5px;
}
.rotate2 {
  transform: rotate(-45deg);
  margin-top: -7px;
  width: 60%;
}
.rotate3 {
  transform: translateX(20px);
  opacity: 0;
}
.hamburger-menu.active {
  .menuX {
    display: block;
  }
  .hamburger {
    display: none;
  }
}
.menuX {
  display: none;
}

.logo-heading {
  color: #3a1700;
  font-family: Rowdies;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -1px;
  z-index: 1;
}

.logo-orange-background {
  width: 1330px;
  height: 900px;
  top: -573px;
  left: -1270px;
  transform: rotate(45deg);
  position: absolute;
  border-radius: 80px;
  background-color: #e29f72;
  z-index: -9999;
}
.logo-background svg {
  position: absolute;
  left: -20px;
  top: 140px;
  z-index: -3;
}
.nav-bar ul {
  max-width: 496px;
  width: 100%;
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-bar ul li {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
}
.nav-bar ul li a {
  color: #3a1700;
  text-decoration: none;
  position: relative;
  transition: all 0.5s linear;
}
.nav-bar ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -10px;
  height: 3px;
  background-color: #7e8ab8;
  opacity: 0;
  transition: all 0.4s linear;
}
.nav-bar ul li a:hover::before {
  opacity: 1;
  width: 100%;
}
.nav-bar ul li a:hover {
  color: #7e8ab8;
}
.nav-bar.active {
  opacity: 1;
  transition: 1s;
  top: 0;
  height: 500px;
}

.contact-btn {
  width: 138px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid rgba(126, 138, 184, 0.3);
  color: rgba(126, 138, 184, 0.3);
  color: #7e8ab8;
  font-family: Rowdies;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s linear;
}
.contact-btn:hover {
  background-color: #7e8ab8;
  color: white;
  box-shadow: 0 0 10px #7e8ab8;
}

/* -------------------------------- INTRO_CONTENT ------------------------------------------------------------ */

.intro-content {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.intro-content-heading {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.intro-content-heading h1 {
  max-width: 380px;
  width: 100%;
  color: #3a1700;
  font-family: Rowdies;
  font-size: 72px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -3px;
  transition: 0.5s linear;
}
.intro-content-heading p {
  max-width: 370px;
  width: 100%;
  color: rgba(58, 23, 0, 0.5);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.donate_btn {
  width: 202px;
  height: 48px;
  border-radius: 24px;
  background: #7e8ab8;
  border: none;
  color: #fff;
  font-family: Rowdies;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition:  1s;
}
.donate_btn a{
  text-decoration: none;
  color: #fff;
  transition:  1s;
}
.donate_btn:hover {
  background-color: transparent;
  border: 1px solid #7e8ab8;
  color: #7e8ab8;
  box-shadow: 0 0 5px #7e8ab8;
}

  .donate_btn a:hover{
    color: #7e8ab8;
  }

.donate-img {
  max-width: 637px;
  max-height: 637px;
  width: 100%;
  height: 100%;
}
.intro-content-picture {
  z-index: -3;
}
.intro-content-rectangle {
  position: absolute;
}

/*------------------------------------------- DONATE_SECTION -------------------------------------------- */

.donate_section {
  display: flex;
  flex-direction: column;
  gap: 138px;
  padding-top: 90px;
  padding-bottom: 80px;
  background: #fff;
  width: 100%;
  height: auto;
  padding: 0 26px;
}
.donate_features {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
  padding: 95px 0;
  gap: 66px;
}

.donate_heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.donate_heading h1 {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  color: #3a1700;
  font-family: Rowdies;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -1px;
}
.donate_heading p {
  color: #e29f72;
  text-align: center;
  font-family: Rowdies;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.donate_features_card_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 32px;
}
.donate_features_card_box {
  display: flex;
  gap: 30px;
}
.donate_features_card {
  max-width: 490px;
  width: 100%;
  height: auto;
  background: #f3f2e7;
  padding: 48px 52px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 12px;
  cursor: pointer;
  transition: 1s;
}
.donate_features_card_heading {
  display: flex;
  gap: 32px;
  align-items: center;
}
.donate_features_card_heading h2 {
  color: #3a1700;
  font-family: "Rowdies";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.donate_features_card_line {
  width: 100%;
  height: 1px;
  background: #deddcd;
}
.donate_features_card_line::before {
  content: "";
  height: 3px;
  position: absolute;
  width: 64px;
  background: #333;
}

.donate_features_card_description {
  color: rgba(58, 23, 0, 0.5);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* _SECTION DONATION:   MAKE_DONATION */

.donation {
  width: 100%;
  padding: 0 26px;
  padding-bottom: 100px;
  background: #fff;
}
.donation_main_container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 69px;
}
.donate_hidden_cards{
  display: none;
  flex-direction: column;
  gap: 30px;
  animation: removeCard 1s linear;
}
@keyframes removeCard { 

  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
  
}
.donate_card_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  transition:  1s ease ;
}
.donate_hidden_cards.card_remove{
  display: flex;
}
.donate_card {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  cursor: pointer;
  transition: 1s;
}
.donate_card:hover , .donate_features_card:hover{
  box-shadow: 8px 8px 0 #2fb0ac27;
}
.donate_card_picture {
  width: 100%;
  height: 240px;
  position: relative;
}
.donate_card_picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.donate_card_picture_meaning {
  width: 65px;
  height: 32px;
  border-radius: 16px;
  background: #e29f72;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  left: 20px;
}
.donate_card_picture_meaning p {
  color: white;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.donate_card_description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 23px 32px;
  background: #f3f2e7;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.donate_card_description h2 {
  color: #3a1700;
  font-family: Rowdies;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  padding-bottom: 33px;
}
.donate_card_donation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 22px;
}
.goal_donation {
  color: rgba(58, 23, 0, 0.5);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.completed_donation {
  font-size: 20px;
  color: #3a1700;
  font-family: Manrope;
}

.donate_card_level {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #e6e4d6;
  margin-bottom: 40px;
}
.completed_donation_level {
  height: 8px;
  width: 138px;
  background: #2fb0ab;
  border-radius: 4px;
}
.explore_all {
  width: 100%;
  text-align: center;
}
.explore_all_btn {
  width: 170px;
  height: 48px;
  background: transparent;
  border-radius: 24px;
  border: 1px solid #7e8ab8;
  color: #7e8ab8;
  font-family: Rowdies;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.5s linear;
  cursor: pointer;
}
.explore_all_btn:hover{
  background: #7e8ab8;
  color: white;
  box-shadow: 0 0 10px #7e8ab8;
}
/* MEDIA */

@media (max-width: 1000px) {
  .intro-content-heading h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .intro-content-heading {
    gap: 20px;
  }
  .intro-section {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 0px;
    position: absolute;
    top: -100%;
    left: 0;
    border-bottom: 3px solid #7e8ab8;
    padding-top: 88px;
    padding-bottom: 20px;
    background-color: #f3f2e7;
    z-index: -2;
    opacity: 0;
    transition: 1.5s;
  }
  .intro-section {
    gap: 20px;
  }
  .nav-bar ul {
    flex-direction: column;
    text-align: center;
  }
  .hamburger-menu {
    display: flex;
  }
  .intro-content {
    flex-direction: column-reverse;
  }
  .donate-img {
    max-width: 500px;
    max-height: 500px;
  }
  .donate_features {
    justify-content: center;
  }
  .donate_features_card_container,
  .donate_features_card_box {
    flex-direction: column;
  }
  .donate_features_card {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .intro-section,
  .donate_section {
    padding: 16px 20px 48px 20px;
  }

  .donate-img {
    min-width: 366px;
  }
  .intro-content-heading h1 {
    font-size: 56px;
    line-height: 64px;
  }
  .donate_features_card {
    max-width: 329px;
    width: 100%;
    padding: 48px 28px;
  }
  .donate_heading h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .donate_card{
    width: 329px;
  }
  .donate_card_description{
    padding: 28px 
  }
  .donate_card_description h2{
    max-width: 269px;
    font-size: 23px;
    line-height: 32px;
  }
}
